EVOLUTION_API_URL=http://localhost:8080
EVOLUTION_API_KEY=FOLLOWUAI_API_KEY_SEGURA_2026
DB_PATH=../database/followuai.db
LOG_LEVEL=INFO
WEBHOOK_HOST=0.0.0.0
WEBHOOK_PORT=8000
INTERVALO_MIN_ENVIO_MINUTOS=5
